body{
  background-image: url("../image/river.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

header{
  height: 6em;
  background-color: #f1c794;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a{
  height: 150%;
}

img{
position: relative;
display: flex;
justify-content: center;
height: 100%;
}

footer{
  height: 3em;
  background-color: #f1c794;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:  3em;
  padding: 2em;
}


#playGround{
  display: flex;
  justify-content: space-between;
}


/* /////////////////////////////// BOAT /////////////////////////////// */

#boat{
  position: absolute;
  left: 25vw;
  top: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../image/boat.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 470px;
  transform: scaleX(1);
}

#boat.horizTranslateToRight {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 1s;
  left: 40vw;
  transform: scaleX(-1);
}

#boat.horizTranslateToLeft {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 1s;
  left: 20vw;
  transform: scaleX(1);

}

#canvasBlock{
  position: absolute;
  height: 600px;
  width: 500px;;
  right: 0px;
  opacity: 0;
  background-color: FireBrick;
  z-index: 5;
}

#traverser {
  position: absolute;
  left: 50vw;
}

#reset {
  position: center;
  left: 100px;
}





/* /////////////////////////////// POP UP /////////////////////////////// */

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 45vh;
  left: 50vw;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}


.close-button {
  position: absolute;
  cursor: pointer;
  outline: none;
  font-size: 2em;
  font-weight: bold;
  z-index: 20;
  right: 30px;
  top: 0;

}


.modal img{
  position: absolute;
  height:800px;
}

.mySlides{
  width: 600px;
}

.mySlides :nth-child(1n){
  text-align: center;
  margin: 1em;
}

#win{
  display: none;
  transform: none;
  transition: 200ms ease-in-out;
  z-index: 10;
}

#gameOver{
  display: none;
  transform: none;
  transition: 200ms ease-in-out;
  z-index: 10;
}



#win img, #gameOver img {
  z-index: -1;
}


#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
  z-index: 5;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.closebutton1 {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  top:-100px;
}


.closebutton2 {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  top:-40px;
}


.closebutton3 {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  top:-40px;
}






/* /////////////////////////////// SLIDER /////////////////////////////// */

/* Voir le slide au chargement de la page */
/* .mySlides {display: none;}
 */

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  user-select: none;
  position: absolute;
  bottom: 20%;

}

.prev img, .next img {
  width: 150px;
  height: 150px;
  transform: scaleX(-1); /* je sais pas pk */


}

/* Position the "next button" to the right */


.prev {
  right: 30%;
}


/* /////////////////////////////// Humain /////////////////////////////// */

.base {
    position: relative;
    height: 125px;
    width: 125px;
    cursor: pointer;
    display: inline-block;
}

.tenu {
    mix-blend-mode: color-burn;
}

.case_table {
    display: inline-block;
    height: 125px;
    width: 125px;
}

#boat .case_table {
  border: dotted 3px rgba(0, 0, 0, .4);
}

.hovered {
    border-style: dashed;
}

#leftTable, #rightTable{
  margin: 3em;
}

#popup-box{
  width: 650px;
	height: 400px;
	box-sizing: border-box;
	padding: 100px;
  align-items: center;
	position: fixed;
	top: calc(50% - 125px);
	left: calc(50% - 200px);
	display: none;
  background-image:url("../image/papyrus.png");
  background-repeat: no-repeat;
  background-position: center;
  font-size: 14px;
}

#popuptext {
  text-align: center;
}

#close-button{
	position: absolute;
	top: 0px;
	left: 0px;
}

#text {
  font-size: 14px;
}


/* /////////////////////////////// BUTTON /////////////////////////////// */

button{
  background-image: url("../image/panel.png");
  background-repeat: no-repeat;
  background-size: cover;
   box-sizing: border-box;
   cursor: pointer;
   line-height: 1;
   margin: 18px;
   padding: 15px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   outline: none;
   position: relative;
   text-shadow:0 1px 1px rgba(180, 150, 100, 1);
   -webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    border-radius: 10px;
    border: 3px solid rgba(75, 50, 35, 1);
}
